h1 {
  text-align: center;
  font-weight: normal;
  text-decoration: underline red wavy;
  letter-spacing: 5px;
<<<<<<< HEAD
  font-size: 40px;
  font-family: Tahoma;
=======
>>>>>>> a75de6fc1e1479c1a022acb5434c584a12e47f14
}

p {
  font-weight: 500;
  line-height: 2;
}

a {
  text-decoration: none;
}
