/* * {
  background-color: cyan;
  color: orangered;
} */

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f1faee;
}

button {
  font-size: 15px;
  background-color: #a8dadc;
}

#signup {
  background-color: #1d3557;
  color: #f1faee;
}

h1,
h2 {
  color: #1d3557;
}

span {
  color: #457b9d;
}

.tag {
  background-color: #e63946;
  color: #f1faee;
  font-size: 16px;
}

/* scenario: coloring anchor tags*/

/* a {
  color: #a8dadc;
} */

/* to exclude the footer anchor tags */
/* span a {
  color: #a8dadc;
} */

/* An even better way is to add a class to each section in order to only style the anchor tags of the posts, exclude the footer, and any other span>a's I may have in future */
.post a {
  color: #457b9d;
  text-decoration: none;
}

/* I didnt need to make a footer class since there's only one */
footer a {
  color: #e63946;
}

/* end of scenario: coloring anchor tags*/

/* descendent selector example */
h2 + button {
  color: #f1faee;
  background-color: #e63946;
}

/* direct child selector example */
footer > a {
  color: #1d3557;
}

/* attribute selector example */
input[type="password"] {
  color: #e63946;
}
input[type="text"] {
  color: #1d3557;
  font-weight: bold;
}
section[class="post"] {
  border: 0.5rem outset #a8dadc;
  margin: 1rem;
  padding: 1rem;
}

/* attribute selector with fuzzy matching */
a[href*="pup"] {
  color: purple;
}

/* pseudo selector examples */
.post button:hover {
  background-color: #1d3557;
  color: #f1faee;
}

.post a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.post button:active {
  background-color: green;
}

.post:nth-of-type(2n) {
  background-color: #dfe8dd;
}